.button {
    width: 130px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #234f9d;
    background-color: transparent;
    color: #234f9d;
    font-size: large;
}

.buttonMargin {
    margin: 5px;
}

.button:hover, .clicked {
    color: #fff;
    background-color: #234f9d;
}