.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 0;
}

.colorSwatch {
   width: 100%;
   border-radius: 50%;
}

.buttonMargin {
    margin: 5px;
}

.button:hover, .clicked {
    border: 3px solid #234f9d;
}