:root {
  --width-var: 400px;
}

* {
  box-sizing: border-box;
  background-color: #eeeeee;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 62vh;
  padding: 1rem;
}

.btnGroup {
  display: flex;
  flex-direction: row;
}

.alpacaPreviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .btnGroup {
    margin-top: 10px;
  }
}